body {
    font-family: "Montserrat", sans-serif;
}
/*h1, h2, h3, h4, h5, h6 {
	font-family: 'Cinzel';
}*/
a {
    text-decoration: none;
}
.wrapper {
    min-height: 100vh;
    padding-bottom: 90px;
}
.wrapper.page {
    padding-top: 45px;
}
.check {
    background-color: #e4c568;
}
.check .row {
    padding-top: 8px;
    padding-bottom: 8px;
}
.check .check-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /*font-family: 'Cinzel';*/
    font-size: 14px;
}
.menu {
    background-color: #fff;
}
.menu .row {
    padding-top: 8px;
    padding-bottom: 8px;
}
.menu .menu-item {
    display: flex;
    flex-direction: column;
    /*font-family: 'Cinzel';*/
    font-size: 8px;
    text-decoration: none;
    color: #212529;
}
.menu .menu-item.active {
    color: #e4c568;
}
.menu .menu-item .fa {
    font-size: 20px;
    margin-bottom: 2px;
}
.header-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    height: 45px;
}
.header-page h1 {
    /*font-size: 18px;*/
    font-size: 12px;
    margin-top: 3px;
    color: #212529;
    margin-bottom: 0;
    line-height: unset;
    text-transform: uppercase;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*--Home--*/
.button-wrapper-home {
    position: absolute;
    top: 10px;
    right: 10px;
}
.button-wrapper-home a {
    font-size: 14px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    background-color: rgba(0, 0, 0, 0.5);
}
.about,
.check-rates,
.check-rates a {
    font-size: 12px;
}
.check-rates p {
    font-size: 18px;
    line-height: 1.2;
}
.gradient-top {
    position: absolute;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: flex-end;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1)
    );
    bottom: 0;
}
hr {
    margin: 0.5rem 0;
}
.h-90px {
    height: 90px;
}
.h-150px {
    height: 150px;
}
.bg-custom {
    background-color: #e4c568;
}
.tiles {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}
.tiles img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.tiles a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;
    font-weight: bold;
}

/*--Accommodation--*/
.rotate-180 {
    transition: transform 0.3s ease;
}
.collapsed .rotate-180 {
    transform: rotateZ(180deg);
    transition: transform 0.3s ease;
}
.accommodation .title {
    font-size: 14px;
    margin-bottom: 0;
    font-weight: bold;
}
.accommodation .excerpt {
    font-size: 10px;
    margin-bottom: 0;
}
.accommodation .feature {
    font-size: 10px;
    margin-bottom: 0;
}
.accommodation .room-icon {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.accommodation .room-icon .fa {
    font-size: 20px;
    margin-bottom: 2px;
}
.accommodation h4 {
    font-size: 12px;
}
.accommodation .facilities {
    font-size: 10px;
}

/*--Offers, Experience--*/
.offers .card,
.experience .card {
    border-radius: 0.75rem;
}
.offers .card-img-top,
.experience .card-img-top {
    border-top-right-radius: calc(0.75rem - 1px);
    border-top-left-radius: calc(0.75rem - 1px);
    object-fit: cover;
    object-position: center;
    height: 128px;
}
.offers .card-title,
.experience .card-title {
    font-size: 14px;
    font-weight: bold;
}
.offers .card-subtitle {
    font-size: 8px;
    color: #e4c568;
}
.offers .card-text {
    font-size: 10px;
}

/*--Gallery--*/
.ratio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*--Contact--*/
.contact {
    font-size: 12px;
}
.img-logo {
    display: block;
    margin: 0 auto;
}
.floating-whatsapp {
    position: fixed;
    width: 48px;
    height: 48px;
    bottom: 100px;
    right: 10px;
    background-color: #25d366;
    color: #fff;
    font-size: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

/*--Dining, Activities--*/
.title-wrapper h2 {
    font-size: 14px;
}
.title-wrapper h4 {
    font-size: 12px;
}
.title-wrapper p,
.title-wrapper ul {
    font-size: 10px;
    margin-bottom: 0.25rem;
}
.button-wrapper .btn {
    font-size: 10px;
    padding: 5px;
    line-height: 1;
    border-radius: 0;
    text-transform: uppercase;
}
.btn-custom,
.btn-custom:hover {
    color: #fff;
    background-color: #e4c568;
    border-color: #e4c568;
}
.btn-outline-custom,
.btn-outline-custom:hover {
    color: #2a2a2a;
    background-color: transparent;
    border-color: #2a2a2a;
}
.btn-outline-dark:hover {
    color: #212529;
    background-color: transparent;
    border-color: #212529;
}
.modal-title {
    font-size: 14px;
}
.modal-body {
    font-size: 10px;
}
.modal-body p,
.modal-body ul {
    margin-bottom: 0.25rem;
}
.btn-check:focus + .btn,
.btn:focus {
    box-shadow: none;
}

.anc-box {
    background: #1c1c1c;
    color: #fff;
    width: 100%;
    padding: 15px 0;
}

.container-fluid.full {
    width: 100% !important;
    max-width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.container-fluid.full {
    width: 100% !important;
    max-width: none;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.anc-link {
    color: #fff;
    text-decoration: underline;
}

.anc-link:hover,
.anc-close:hover {
    color: #e4c568;
}

.anc-close {
    float: right;
    color: #fff;
    cursor: pointer;
}

.anc-title {
    font-size: 12px;
    padding: 0 20px;
    margin-bottom: 0;
}
.floating-whatsapp {
    position: fixed;
    width: 48px;
    height: 48px;
    bottom: 100px;
    right: 10px;
    background-color: #25d366;
    color: #fff;
    font-size: 32px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
